h2 {
	color: #FFFAFA;
}
body{
  background-color:white;
  background-image: url("https://s2.glbimg.com/mYAlgn4QljfDj1_UKCOez0qlKYA=/e.glbimg.com/og/ed/f/original/2015/03/04/15024000411_08f38347c7_k.jpg");
  background-size: auto 100vh;
 font-family: Arial;
  height: 100vh;
}
.menu{
  background-color:white;
}
.menu li {
  list-style:none;
}
.menu ul{
  display: flex;
  justify-content: space-around;
}
a {
  color:teal;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.site-subtitle,
.site-title{
  color: whitesmoke;
  text-align: center;
}
.site-subtitle{
  font-style: italic;
}