/*reset do css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
  position: static;
  color: aliceblue;
  font-weight: bold;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 100vw;
  padding: 20px 20px;
}
body{
  background-image: url("https://s2.glbimg.com/mYAlgn4QljfDj1_UKCOez0qlKYA=/e.glbimg.com/og/ed/f/original/2015/03/04/15024000411_08f38347c7_k.jpg");
  background-size: auto 100vh;
  background-repeat: round;
  font-family: Arial;
  height: 100vh;
  height:100%;
  font-size: 15px;
}
/*breakpoint*/
@media (min-width:300px){
    body{
        font-size: 25x;
        background-image: url("https://staticr1.blastingcdn.com/media/photogallery/2017/10/28/660x290/b_502x220/representacao-artistica-do-sistema-solar_1660011.jpg");
        background-size: auto 100vh;
    }
}
/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width:500px){
    body{
        font-size: 20x;
        background-image: url("https://1.bp.blogspot.com/-Q8WCWGg57Qk/Wws2e6Po_5I/AAAAAAAAZiw/4Ar_0tJdtoUsOqlf4zleJ7dPHgatJ-LUgCK4BGAYYCw/s640/androhead2.jpg");
        background-size: auto 100vh;
    }
}
/*breakpoint*/
@media (min-width:700px){
    body{
        font-size: 25x;
        background-image: url("https://s2.glbimg.com/mYAlgn4QljfDj1_UKCOez0qlKYA=/e.glbimg.com/og/ed/f/original/2015/03/04/15024000411_08f38347c7_k.jpg");
  background-size: auto 100vh;
    }
}
/*breakpoint*/
@media (min-width:1200px){
    body{
        font-size: 30x;
    }
}
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
  
  position: fixed;
  width: 100vw;
  top: 0;
}
.menu li {
  list-style:none;
}
.menu ul{
  display: flex;
  justify-content: space-around;
}
.menu a{
    display: block;
    padding: 10px 20px;
    color: white;
}
a {
  color:teal;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.site-subtitle,
.site-title{
  color: whitesmoke;
  text-align: center;
}
.site-title{
    font-size: 3em;
}
.site-subtitle{
  font-style: italic;
}
.img-portfolio{
    height: 180px;
    width: 180px;
}
.Mercurio{
  font-family: cursive;
  font-weight: bold;
  color: aliceblue;
}